################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/ReportViewer/obj/Debug
/Test/ReportViewer/obj/Debug
